/* BASE */
@import './base/layout.css';
@import './base/base.css';

/* COMPONENTS */
@import './components/buttons.css';

/* Header start */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
}

header img {
    width: 200px;
}

header .nav-menu {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    transition: linear 0.5s;
}

header .nav-menu a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #22699a;
}

header .nav-menu a:hover {
    transform: scale(1.2);
    transition: 0.8s;
    color: #222d4f;
}

header .nav-menu a:nth-child(5) {
    color: #fff;
}

header .nav-menu a:hover:nth-child(5) {
    border: none;
}

header > .burger-menu {
    display: none;
}

@media (max-width: 992px) {
    header .nav-menu {
        gap: 2rem;
    }
    header .nav-menu a {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    header > .burger-menu {
        display: block;
        align-items: center;
        color: #222d4f;
        font-size: 40px;
        cursor: pointer;
    }

    header .nav-menu {
        display: none;
        width: 100%;
        position: absolute;
        top: 9rem;
        flex-direction: column;
        align-items: center;
        background: #222d4f;
        gap: 0;
    }
    header .nav-menu a {
        color: aliceblue;
        margin: 20px 0;
    }
    header .nav-menu a:hover {
        color: aliceblue;
    }
}

@media (max-width: 576px) {
    header img {
        width: 100px;
    }
    header .nav-menu {
        top: 6rem;
    }
}

/* Header end */

/* MAIN START */

/* hero start */
.hero > .container > .hero-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.socials-wrapper > .socials-list-wrapper > .socials-list {
    position: absolute;
    top: 1rem;
    left: 2rem;
    z-index: 2;
    list-style: none;
    background: rgba(33, 103, 153, 0.554);
    padding: 1rem;
}

.socials-list-wrapper > .socials-list li {
    margin: 1rem 0;
    font-size: 30px;
}

.socials-list li a {
    color: #fff;
}

.socials-list li a:hover {
    color: #fd3b5c;
    transition: 0.5s;
}

.hero-content {
    position: relative;
}

@media (max-width: 768px) {
    .hero > .container > .hero-content {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
    }
    .socials-wrapper > .socials-list-wrapper > .socials-list {
        height: 50px;
        left: 10px;
        display: flex;
        gap: 1rem;
        width: 200px;
        align-items: center;
        justify-content: space-evenly;
    }
}

/* hero end */

/* about start */
.about > .container > .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.about img {
    width: 40%;
    opacity: 0.5;
    transition: 1s;
}

.about img:hover {
    opacity: 1;
}

.about .about-content {
    width: 50%;
}
/* about end */

/* skills start */
/* skills end */

/* projects gallery start */
/* projects gallery end */

/* contact start */
/* contact end */

/* MAIN END */

/* footer start */
/* footer end */
