.btn {
    position: relative;
    background: #222d4f;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.1rem;
    padding: 10px 20px;
    transition: 0.5s;
}

.btn:hover {
    transform: scale(1.2);
}
